# Ignore the instance folder and its contents
instance/
uploads/
__pycache__/
*.pyc
*.db
routes/__pycache__/routes.cpython-312.pyc
/routes/__pycache__
*.pyc
routes/__pycache__/routes.cpython-312.pyc
*.pyc
models/__pycache__/models.cpython-312.pyc
routes/__pycache__/routes.cpython-312.pyc
