{% extends 'base.html' %}

{% block title %}Property Management{% endblock %}
{% block header %}Tenants{% endblock %}

{% block content %}
{% for investor in investors %}
<h2>{{ investor.name }}</h2>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">Tenant Name</th>
            <th scope="col">Building Name</th>
            <th scope="col">Unit No</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Rent Amount</th>
          </tr>
    </thead>
    <tbody>
        {% for property in investor.properties %}
            {% for tenant in property.tenant %}
            <tr>
                <td><a href="/view_tenant/{{ tenant.id }}">{{ tenant.name }}</a></td>
                <td>{{ tenant.property.building_name }}</td>
                <td>{{ tenant.property.unit_no }}</td>
                <td>{{ tenant.contract_start_date }}</td>
                <td>{{ tenant.contract_end_date }}</td>
                <td>{{ tenant.rental_amount }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}